{{!--

registration handelbars

--}}
{{#if error}}
<p>{{error}}</p>
{{/if}}

<p id="hiddenP" hidden>test2</p>

<form action="/vehicleListings/createListing" method="POST" id="createListingForm" enctype="multipart/form-data">
    {{!-- Error Array --}}
    <ul id="error-model" class="text-danger"></ul>

    <label for="postTitle">Post Title</label>
    <input type="text" name="postTitle" id="postTitle" value="{{data.postTitle}}">

    <label for="vehicleType">Vehicle Type</label>
    <select name="vehicleType" id="vehicleType">
        <option value="scooter">Scooter</option>
        <option value="skateboard">Skateboard</option>
        <option value="bicycle">Bicycle</option>
        <option value="other">Other</option>
    </select>

    {{!-- for now the tags are just done in three separate selects --}}
    <label for="vehicleTags1">First vehicle tag</label>
    <select name="vehicleTags1" id="vehicleTags1">  
        <option value="none">None</option>
        <option value="offRoad">Off Road</option>
        <option value="electric">Electric</option>
        <option value="2wheel">Two Wheels</option>
        <option value="4wheel">Four Wheels</option>
        <option value="new">New</option>
        <option value="modded">Modded</option>
    </select>

    <label for="vehicleTags2">Second vehicle tag</label>
    <select name="vehicleTags2" id="vehicleTags2">
        <option value="none">None</option>
        <option value="offRoad">Off Road</option>
        <option value="electric">Electric</option>
        <option value="2wheel">Two Wheels</option>
        <option value="4wheel">Four Wheels</option>
        <option value="new">New</option>
        <option value="modded">Modded</option>
    </select>

    <label for="vehicleTags3">Third vehicle tag</label>
    <select name="vehicleTags3" id="vehicleTags3">
        <option value="none">None</option>
        <option value="offRoad">Off Road</option>
        <option value="electric">Electric</option>
        <option value="2wheel">Two Wheels</option>
        <option value="4wheel">Four Wheels</option>
        <option value="new">New</option>
        <option value="modded">Modded</option>
    </select>

    <label for="protectionIncluded">Is protection included in the rental</label>
    <select name="protectionIncluded" id="protectionIncluded">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select>

    <label for="vehicleCondition">Vehicle Condition (1.0-5.0)</label>
    <input type="number" step="0.1" name="vehicleCondition" id="vehicleCondition" value="{{data.vehicleCondition}}">
    <br>
    {{!-- <label for="currentlyAvailible">Confirm Password</label>
    <input type="text" name="currentlyAvailible" id="currentlyAvailible"> --}}

    {{!-- <label for="vehicleComments">vehicleComments</label>
    <input type="text" name="vehicleComments" id="vehicleComments" value="{{data.favoriteQuote}}"> --}}

    <label for="maxRentalHours">Max Rental Hours</label>
    <br>
    <input type="number" name="maxRentalHours" id="maxRentalHours" value="{{data.maxRentalHours}}">
    <br>
    <label for="maxRentalDays">Max Rental Days</label>
    <br>
    <input type="number" name="maxRentalDays" id="maxRentalDays" value="{{data.maxRentalDays}}">
    <br>
    <label for="hourlyCost">Cost Per Hour</label>
    <br>
    <input type="number" step="0.01" name="hourlyCost" id="hourlyCost" value="{{data.hourlyCost}}">
    <br>
    <label for="dailyCost">Cost Per Day</label>
    <br>
    <input type="number" step="0.01" name="dailyCost" id="dailyCost" value="{{data.dailyCost}}">
    <br>
    <label for="image">Image</label>
    <br>
    <input type="file" id="image" name='image' accept="image/png, image/jpeg" value="{{data.image}}">

    {{!-- add usually availible bit here --}}

    {{!--<label for="whenAvailable1">When Available</label>--}}
    <div class="whenAvailableGrid">
        <input type="checkbox" class = "whenAvailable"id="m0" name = "whenAvailable[]" value = "m0">
        <input type="checkbox" class = "whenAvailable"id="m1" name = "whenAvailable[]" value = "m1">
        <input type="checkbox" class = "whenAvailable"id="m2" name = "whenAvailable[]" value = "m2">
        <input type="checkbox" class = "whenAvailable"id="m3" name = "whenAvailable[]" value = "m3">
        <input type="checkbox" class = "whenAvailable"id="m4" name = "whenAvailable[]" value = "m4">
        <input type="checkbox" class = "whenAvailable"id="m5" name = "whenAvailable[]" value = "m5">
        <input type="checkbox" class = "whenAvailable"id="m6" name = "whenAvailable[]" value = "m6">
        <input type="checkbox" class = "whenAvailable"id="m7" name = "whenAvailable[]" value = "m7">
        <input type="checkbox" class = "whenAvailable"id="m8" name = "whenAvailable[]" value = "m8">
        <input type="checkbox" class = "whenAvailable"id="m9" name = "whenAvailable[]" value = "m9">
        <input type="checkbox" class = "whenAvailable"id="m10" name = "whenAvailable[]"value = "m10">
        <input type="checkbox" class = "whenAvailable"id="m11" name = "whenAvailable[]"value = "m11">
        <input type="checkbox" class = "whenAvailable"id="m12" name = "whenAvailable[]"value = "m12">
        <input type="checkbox" class = "whenAvailable"id="m13" name = "whenAvailable[]"value = "m13">
        <input type="checkbox" class = "whenAvailable"id="m14" name = "whenAvailable[]"value = "m14">
        <input type="checkbox" class = "whenAvailable"id="m15" name = "whenAvailable[]"value = "m15">
        <input type="checkbox" class = "whenAvailable"id="m16" name = "whenAvailable[]"value = "m16">
        <input type="checkbox" class = "whenAvailable"id="m17" name = "whenAvailable[]"value = "m17">
        <input type="checkbox" class = "whenAvailable"id="m18" name = "whenAvailable[]"value = "m18">
        <input type="checkbox" class = "whenAvailable"id="m19" name = "whenAvailable[]"value = "m19">
        <input type="checkbox" class = "whenAvailable"id="m20" name = "whenAvailable[]"value = "m20">
        <input type="checkbox" class = "whenAvailable"id="m21" name = "whenAvailable[]"value = "m21">
        <input type="checkbox" class = "whenAvailable"id="m22" name = "whenAvailable[]"value = "m22">
        <input type="checkbox" class = "whenAvailable"id="m23" name = "whenAvailable[]"value = "m23">

        <input type="checkbox" class = "whenAvailable"id="t0" name = "whenAvailable[]" value = "t0">
        <input type="checkbox" class = "whenAvailable"id="t1" name = "whenAvailable[]" value = "t1">
        <input type="checkbox" class = "whenAvailable"id="t2" name = "whenAvailable[]" value = "t2">
        <input type="checkbox" class = "whenAvailable"id="t3" name = "whenAvailable[]" value = "t3">
        <input type="checkbox" class = "whenAvailable"id="t4" name = "whenAvailable[]" value = "t4">
        <input type="checkbox" class = "whenAvailable"id="t5" name = "whenAvailable[]" value = "t5">
        <input type="checkbox" class = "whenAvailable"id="t6" name = "whenAvailable[]" value = "t6">
        <input type="checkbox" class = "whenAvailable"id="t7" name = "whenAvailable[]" value = "t7">
        <input type="checkbox" class = "whenAvailable"id="t8" name = "whenAvailable[]" value = "t8">
        <input type="checkbox" class = "whenAvailable"id="t9" name = "whenAvailable[]" value = "t9">
        <input type="checkbox" class = "whenAvailable"id="t10" name = "whenAvailable[]"value = "t10">
        <input type="checkbox" class = "whenAvailable"id="t11" name = "whenAvailable[]"value = "t11">
        <input type="checkbox" class = "whenAvailable"id="t12" name = "whenAvailable[]"value = "t12">
        <input type="checkbox" class = "whenAvailable"id="t13" name = "whenAvailable[]"value = "t13">
        <input type="checkbox" class = "whenAvailable"id="t14" name = "whenAvailable[]"value = "t14">
        <input type="checkbox" class = "whenAvailable"id="t15" name = "whenAvailable[]"value = "t15">
        <input type="checkbox" class = "whenAvailable"id="t16" name = "whenAvailable[]"value = "t16">
        <input type="checkbox" class = "whenAvailable"id="t17" name = "whenAvailable[]"value = "t17">
        <input type="checkbox" class = "whenAvailable"id="t18" name = "whenAvailable[]"value = "t18">
        <input type="checkbox" class = "whenAvailable"id="t19" name = "whenAvailable[]"value = "t19">
        <input type="checkbox" class = "whenAvailable"id="t20" name = "whenAvailable[]"value = "t20">
        <input type="checkbox" class = "whenAvailable"id="t21" name = "whenAvailable[]"value = "t21">
        <input type="checkbox" class = "whenAvailable"id="t22" name = "whenAvailable[]"value = "t22">
        <input type="checkbox" class = "whenAvailable"id="t23" name = "whenAvailable[]"value = "t23">

        <input type="checkbox" class = "whenAvailable"id="w0">
        <input type="checkbox" class = "whenAvailable"id="w1">
        <input type="checkbox" class = "whenAvailable"id="w2">
        <input type="checkbox" class = "whenAvailable"id="w3">
        <input type="checkbox" class = "whenAvailable"id="w4">
        <input type="checkbox" class = "whenAvailable"id="w5">
        <input type="checkbox" class = "whenAvailable"id="w6">
        <input type="checkbox" class = "whenAvailable"id="w7">
        <input type="checkbox" class = "whenAvailable"id="w8">
        <input type="checkbox" class = "whenAvailable"id="w9">
        <input type="checkbox" class = "whenAvailable"id="w10">
        <input type="checkbox" class = "whenAvailable"id="w11">
        <input type="checkbox" class = "whenAvailable"id="w12">
        <input type="checkbox" class = "whenAvailable"id="w13">
        <input type="checkbox" class = "whenAvailable"id="w14">
        <input type="checkbox" class = "whenAvailable"id="w15">
        <input type="checkbox" class = "whenAvailable"id="w16">
        <input type="checkbox" class = "whenAvailable"id="w17">
        <input type="checkbox" class = "whenAvailable"id="w18">
        <input type="checkbox" class = "whenAvailable"id="w19">
        <input type="checkbox" class = "whenAvailable"id="w20">
        <input type="checkbox" class = "whenAvailable"id="w21">
        <input type="checkbox" class = "whenAvailable"id="w22">
        <input type="checkbox" class = "whenAvailable"id="w23">

        <input type="checkbox" class = "whenAvailable"id="h0">
        <input type="checkbox" class = "whenAvailable"id="h1">
        <input type="checkbox" class = "whenAvailable"id="h2">
        <input type="checkbox" class = "whenAvailable"id="h3">
        <input type="checkbox" class = "whenAvailable"id="h4">
        <input type="checkbox" class = "whenAvailable"id="h5">
        <input type="checkbox" class = "whenAvailable"id="h6">
        <input type="checkbox" class = "whenAvailable"id="h7">
        <input type="checkbox" class = "whenAvailable"id="h8">
        <input type="checkbox" class = "whenAvailable"id="h9">
        <input type="checkbox" class = "whenAvailable"id="h10">
        <input type="checkbox" class = "whenAvailable"id="h11">
        <input type="checkbox" class = "whenAvailable"id="h12">
        <input type="checkbox" class = "whenAvailable"id="h13">
        <input type="checkbox" class = "whenAvailable"id="h14">
        <input type="checkbox" class = "whenAvailable"id="h15">
        <input type="checkbox" class = "whenAvailable"id="h16">
        <input type="checkbox" class = "whenAvailable"id="h17">
        <input type="checkbox" class = "whenAvailable"id="h18">
        <input type="checkbox" class = "whenAvailable"id="h19">
        <input type="checkbox" class = "whenAvailable"id="h20">
        <input type="checkbox" class = "whenAvailable"id="h21">
        <input type="checkbox" class = "whenAvailable"id="h22">
        <input type="checkbox" class = "whenAvailable"id="h23">

        <input type="checkbox" class = "whenAvailable"id="f0">
        <input type="checkbox" class = "whenAvailable"id="f1">
        <input type="checkbox" class = "whenAvailable"id="f2">
        <input type="checkbox" class = "whenAvailable"id="f3">
        <input type="checkbox" class = "whenAvailable"id="f4">
        <input type="checkbox" class = "whenAvailable"id="f5">
        <input type="checkbox" class = "whenAvailable"id="f6">
        <input type="checkbox" class = "whenAvailable"id="f7">
        <input type="checkbox" class = "whenAvailable"id="f8">
        <input type="checkbox" class = "whenAvailable"id="f9">
        <input type="checkbox" class = "whenAvailable"id="f10">
        <input type="checkbox" class = "whenAvailable"id="f11">
        <input type="checkbox" class = "whenAvailable"id="f12">
        <input type="checkbox" class = "whenAvailable"id="f13">
        <input type="checkbox" class = "whenAvailable"id="f14">
        <input type="checkbox" class = "whenAvailable"id="f15">
        <input type="checkbox" class = "whenAvailable"id="f16">
        <input type="checkbox" class = "whenAvailable"id="f17">
        <input type="checkbox" class = "whenAvailable"id="f18">
        <input type="checkbox" class = "whenAvailable"id="f19">
        <input type="checkbox" class = "whenAvailable"id="f20">
        <input type="checkbox" class = "whenAvailable"id="f21">
        <input type="checkbox" class = "whenAvailable"id="f22">
        <input type="checkbox" class = "whenAvailable"id="f23">

        <input type="checkbox" class = "whenAvailable"id="s0">
        <input type="checkbox" class = "whenAvailable"id="s1">
        <input type="checkbox" class = "whenAvailable"id="s2">
        <input type="checkbox" class = "whenAvailable"id="s3">
        <input type="checkbox" class = "whenAvailable"id="s4">
        <input type="checkbox" class = "whenAvailable"id="s5">
        <input type="checkbox" class = "whenAvailable"id="s6">
        <input type="checkbox" class = "whenAvailable"id="s7">
        <input type="checkbox" class = "whenAvailable"id="s8">
        <input type="checkbox" class = "whenAvailable"id="s9">
        <input type="checkbox" class = "whenAvailable"id="s10">
        <input type="checkbox" class = "whenAvailable"id="s11">
        <input type="checkbox" class = "whenAvailable"id="s12">
        <input type="checkbox" class = "whenAvailable"id="s13">
        <input type="checkbox" class = "whenAvailable"id="s14">
        <input type="checkbox" class = "whenAvailable"id="s15">
        <input type="checkbox" class = "whenAvailable"id="s16">
        <input type="checkbox" class = "whenAvailable"id="s17">
        <input type="checkbox" class = "whenAvailable"id="s18">
        <input type="checkbox" class = "whenAvailable"id="s19">
        <input type="checkbox" class = "whenAvailable"id="s20">
        <input type="checkbox" class = "whenAvailable"id="s21">
        <input type="checkbox" class = "whenAvailable"id="s22">
        <input type="checkbox" class = "whenAvailable"id="s23">

        <input type="checkbox" class = "whenAvailable"id="u0">
        <input type="checkbox" class = "whenAvailable"id="u1">
        <input type="checkbox" class = "whenAvailable"id="u2">
        <input type="checkbox" class = "whenAvailable"id="u3">
        <input type="checkbox" class = "whenAvailable"id="u4">
        <input type="checkbox" class = "whenAvailable"id="u5">
        <input type="checkbox" class = "whenAvailable"id="u6">
        <input type="checkbox" class = "whenAvailable"id="u7">
        <input type="checkbox" class = "whenAvailable"id="u8">
        <input type="checkbox" class = "whenAvailable"id="u9">
        <input type="checkbox" class = "whenAvailable"id="u10">
        <input type="checkbox" class = "whenAvailable"id="u11">
        <input type="checkbox" class = "whenAvailable"id="u12">
        <input type="checkbox" class = "whenAvailable"id="u13">
        <input type="checkbox" class = "whenAvailable"id="u14">
        <input type="checkbox" class = "whenAvailable"id="u15">
        <input type="checkbox" class = "whenAvailable"id="u16">
        <input type="checkbox" class = "whenAvailable"id="u17">
        <input type="checkbox" class = "whenAvailable"id="u18">
        <input type="checkbox" class = "whenAvailable"id="u19">
        <input type="checkbox" class = "whenAvailable"id="u20">
        <input type="checkbox" class = "whenAvailable"id="u21">
        <input type="checkbox" class = "whenAvailable"id="u22">
        <input type="checkbox" class = "whenAvailable"id="u23">

    </div>



    <button type="submit" name="submitButton" id="submitButton">Register</button>
</form>