<div class="container mt-5 user-profile">
  <div class="row">
    <!-- LEFT SECTION -->
    <div class="col-md-6">
      <img
        src="/public/images/avatar.png"
        alt="User Avatar"
        class="img-fluid rounded-circle mb-3"
        style="width: 160px; height: 145px"
      />
      <h2>{{firstName}}</h2>

      <h6 class="mt-4 text-uppercase text-muted">Verified Info</h6>
      <div class="verified-info mt-2">
        <p>Email: {{email}}</p>
        <p>Addresss: {{address}}</p>
        {{#ifEquals inHoboken "yes"}}
          <p>State: NJ</p>
        {{else}}
          <p>State: {{state}}</p>
        {{/ifEquals}}
      </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="col-md-6">
      <h6 class="text-uppercase text-muted">Reviews from Hosts</h6>
      <div class="review-box mt-3">
        <p class="review-text">
          ⭐ Average Rating:
          <strong>{{ratingAverage}}</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<h6 class="text-uppercase text-muted">Vehicle Requests:</h6>
<ul id="requestList" hidden></ul>